@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html{
    background-color: #393E41;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
}

:root{
    --cream-white: #F6F7EB;
    --onyx-black: #393E41;
    --apple-green: #A3F7B5;
    --caribbean-green: #40C9A2;
}

.container{
    box-sizing: border-box;
    color: var(--cream-white);
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
}

nav{
    background-color: var(--apple-green);
}

.nav-list{
    padding: 0;
    margin: 0 0 1rem 0;
    list-style-type: none;
    padding: 1rem ;
}

.nav-item{
    display: inline-block;
    margin: 0 0.5rem;
}

.nav-item a{
    text-decoration: none;
    font-size: large;
    color: black;
}

.active{
    font-weight: bold;
}

h1{
    text-align: center;
}

.formula{
    border: 2px solid var(--apple-green);
    border-radius: 2px;
    padding: 1rem;
    text-align: center;
}

.label-field{
    box-sizing: border-box;
    display: inline-block;
    width: 30%;
    margin: 1rem 0;
    vertical-align: center;
}

.side-input, .input-field ,.angle-input{
    box-sizing: border-box;
    padding:0.5rem;
    margin: 1rem 0;
    display: inline-block;
    width: 70%;
    border: 0;
    border-radius: 2px;
    font-size: large;
}

.radio-input{
    margin: auto 1rem auto 0.5rem;
}
.quiz-container{
    box-sizing: border-box;
    padding: 1.5rem 0;
    margin:1rem auto;
    border-bottom: 1px solid var(--apple-green);
}

.button-primary{
    display: block;
    margin: 2rem auto ;
    padding: 1rem;
    font-size : large;
    border: 0;
    border-radius: 3px;
    background-color: var(--caribbean-green);
    color: var(--cream-white);
}

#output{
    text-align: center;
    font-size: 1.5rem;
    margin: 2rem auto 6rem auto;
}

@media screen and (max-width:399px) {
    .nav-item{
        display: block;
    }
}